
main{
  max-width: 900px;
  margin: auto;
  padding: 2rem;
}

main section{
  margin-bottom: 2rem;
}

.slogan-main{
  text-align: center;
  font-size: 2rem;
  font-weight: bold;

  margin-top: 1rem;
  margin-bottom: 4rem;

  font-family: 'Heebo', sans-serif;
  overflow-wrap: break-word;
}

.video-p{
    max-width: 300px;
    max-height: 210px;

    border-radius: 40px;

    display: block;
    margin-left: auto;
    margin-right: auto;
}

.card-main{
  max-height: 60vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2,  1fr);
  gap: 1rem;
  margin-bottom: 2rem;
}

.card-main img{
  max-width: 280px;
  height: auto;

  border-radius: 40px;

  display: block;
  margin-left: auto;
  margin-right: auto;

}
.card-main h3{
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.card-main .land-section-descr{
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-main-lessons{
  grid-column: 3/5 ;
  grid-row: 1/3;
}
.card-main-text-l{
  grid-column: 1/3 ;
  grid-row: 1/3;
}

.card-main-proyects{
  grid-column: 1/3 ;
  grid-row: 1/3;
}
.card-main-text-p{
  grid-column: 3/5 ;
  grid-row: 1/3;
}

.card-main-suport{
  grid-column: 3/5 ;
  grid-row: 1/3;
}
.card-main-text-s{
  grid-column: 1/3 ;
  grid-row: 1/3;
}



