/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: white;
    color: black;
    margin: 0;
    padding: 0;
}

/* Header */
header {
    background-color: #00CED1; 
    color: white;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    margin: 0;
}


nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

/* Aside */
aside {
    background-color: #00CED1;
    color: white;
    padding: 20px;
}

/* Section */
section {
    padding: 20px;
}

/* Footer */
footer {
    background-color: #00CED1; 
    color: white;
    text-align: center;
    padding: 20px 0;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-section {
    flex: 1;
    margin-right: 20px;
    text-align: left;
}

.footer-section:last-child {
    margin-right: 0;
}

.footer-section h3 {
    margin: 0 0 10px;
    color: black;
    font-size: 25px;
    
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 5px;
}

.footer-section ul li a {
    text-decoration: none;
    color: white;
}

.copyright {
    margin-top: 20px;
}

/* Enlaces */
a {
    color: white; 
}

a:hover {
    text-decoration: underline;
}
