/* Estilos generales */


:root {
    --color-turquesa: #3bbad8;
    --color-negro: #212529;
    --color-plomo: #dddddd;
    --color-plomo-claro: #f3f3f3;
    --color-blanco: #ffffff;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--color-turquesa);
    color: var(--color-negro);
    margin: 0;
    padding: 0;
}


/* Header */
header {
    background-image: url('/Imagenes/Fondo_header_ajustado.jpg');
    background-size: contain;
    position: relative;
    color: var(--color-blanco); 
    text-align: left;
    font-size: 3rem;
    padding: 2rem 0;
    display: grid;
    grid-template-columns: auto auto 1fr; 
    align-items: center;
}
/* Capa semitransparente */
.header-overlay {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%; 
    background-color: var(--color-turquesa); 
    opacity: 0.7;
    backdrop-filter: blur(10px);
}


/* Estilos para la imagen del logo */
.logo {
    width: auto;
    height: 80px; 
    margin-right: 2rem; 
    display: inline-block; 
    vertical-align: middle;
    align-items: left;
    
}
/*Superponer h1 y nav sobre difuminación*/
header h1, header nav { 
    position: relative;
    z-index: 1; 
    -webkit-text-stroke: 1px var(--color-negro); /*Contorno de letras*/
}
header nav {
    justify-self: end; 
    padding: 7rem;
    margin: 0.1rem;
    font-size: 3.3rem;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    text-decoration: none;
    color: var(--color-blanco);
    -webkit-text-stroke: 0.5px var(--color-negro);/*Contorno de letras*/
}


/* Aside */
aside {
    background-color: var(--color-negro);
    color: var(--color-blanco);
    padding: 2rem;
    font-size: 1.6rem;
}

/* Section */
section {
    
    padding: 2rem;
    font-size: 1.6rem;
}
.a{
    background-color: var(--color-plomo-claro);
}
.b{
    background-color: var(--color-plomo);
}

/* Footer */
footer {
    background-color: var(--color-turquesa);
    color: var(--color-blanco);
    text-align: center;
    padding: 20px 0;
    font-size: 1.6rem;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-section {
    flex: 1;
    margin-right: 2rem;
    text-align: left;
}

.footer-section:last-child {
    margin-right: 0;
}

.footer-section h3 {
    margin: 0 0 1rem;
    color: var(--color-negro);
    font-size: 2.5rem;
    
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 0.5rem;
}

.footer-section ul li a {
    text-decoration: none;
    color: var(--color-plomo-claro)
}

.copyright {
    margin-top: 20px;
}

/* Enlaces */
a {
    color: var(--color-plomo-claro)
}

a:hover {
    text-decoration: underline;
}
/* Media Query para vista de móvil */
@media screen and (max-width: 768px) {
    body {
        font-size: 1.6rem; 
    }
    header nav {
        display: none;
    }
}

/* Media Query para vista de escritorio */
@media screen and (min-width: 769px) {
    
    header nav {
        display: block;
    }
}