@tailwind base;
@tailwind components;
@tailwind utilities;


/* si el dispositibo está en modo oscuro .css-gradient-hero cambia a rgb(0,0,0); */
@media (prefers-color-scheme: dark) {
  .css-gradient-hero{
    background: rgb(33,41,54);
    background: linear-gradient(180deg, rgba(33,41,54,1) 0%, rgba(79,117,126,1) 69%, rgba(125,192,198,1) 100%);
  }
}

/* si está en modo claro: */
@media (prefers-color-scheme: light) {
  .css-gradient-hero{
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(226,253,255,1) 60%, rgba(125,192,198,1) 100%);
  }
}
