
.general-curses-page{
    max-width: 900px;
    margin: auto;
}

.presentation{
    text-align: center;
    font-size: 2rem;
    font-weight: bold;

    margin-top: 1rem;
    margin-bottom: 4rem;

    font-family: 'Heebo', sans-serif;
}

.presentation h2{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.presentation p{
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

