
.general-curses-page{
    max-width: 900px;
    margin: auto;
}

.main-cursos{
    max-width: 800px;
    margin: auto;
    padding: 2rem;
  }

.presentation{
    text-align: center;
    font-size: 2rem;
    font-weight: bold;

    margin-top: 1rem;
    margin-bottom: 4rem;

}

.presentation h2{
    font-family: 'Kanit', sans-serif;
    font-weight: bold;
    
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.presentation p{
    font-family: 'Kanit', sans-serif;
    font-weight: 400;

    font-size: 1.5rem;
    margin-bottom: 1rem;
}

