
.search-bar {
    max-width: 600px;
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px;

    margin-right: auto;
    margin-left: auto;
}

.search-bar input[type="text"] {
    flex: 1;
    border: none;
    outline: none;
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
}

.search-bar box-icon {
    font-size: 24px;
    margin-left: 10px;
    color: #b8b8b8;
    cursor: pointer;
}