@media screen and (max-width: 630px){

    .card-main{
        gap: 0.1rem;
    }

    .card-main img{
        max-width: 280px;
        height: max-content;

        border-radius: 40px;

        margin:auto;
        margin-bottom: 1rem;  

        position: absolute;
        bottom: 0;
    }

    .img-1{
        
    }

    .card-main-proyects{
        grid-column: 1/5 ;
        grid-row: 1/2;
    }
    .card-main-text-p{
        grid-column: 1/5 ;
        grid-row: 2/3;
    }

    .card-main-lessons{
        grid-column: 1/5 ;
        grid-row: 1/2;
    }
    .card-main-text-l{
        grid-column: 1/5 ;
        grid-row: 2/3;
    }

    .card-main-suport{
        grid-column: 1/5 ;
        grid-row: 1/2;
    }
    .card-main-text-s{
        grid-column: 1/5 ;
        grid-row: 2/3;
    }
    
}

//imagenes muy anchas
@media screen and (max-width: 360px) {
    .card-main-suport, .card-main-proyects, .card-main-lessons{
       //ancho de la imagen
         max-width: 280px;
    }
        
    .card-main img{
        width: 70vw;
        height: auto;            
    }

    .card-main iframe{
        width: 70vw;
        height: auto;
    }

    .hero-text{
        padding: 0.1rem;
    }
    .hero-text h1{
        font-size: calc(1.5rem + 5vw);
    }

    .card-main-lessons{
        height: 150px;
    }

}